@{
    Layout = null;

}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Util.ConfigManager.ReadValueByKey(Util.ConfigurationFile.WebConfig, "WebMainTitle") Error</title>
    <base target="_self" />
</head>
<body>
    如果您看到此页面，则可能的原因有：<br />
    1、登录已超时。需重新登录。<br />
    2、账号不存在。<br />
    3、没有权限访问预期的页面。<br />
    4、你自己打开此页的。<br />
    <br />
    <a href="javascript:history.go(-1);">返回上一页</a>
</body>
</html>