@{
    Layout = null;

}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Util.ConfigManager.ReadValueByKey(Util.ConfigurationFile.WebConfig, "WebMainTitle") SysError</title>
    <base target="_self" />
</head>
<body>
    如果您看到此页面，则可能的原因有：<br />
    1、系统发生错误。<br />
    2、数据传输异常。<br />
    3、其他未知错误。<br />
    4、你自己打开此页的。<br />
    <br />
    请联系管理员以获得更进一步的帮助。
</body>
</html>